@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
   
    color: var(--text-color);
}
:root
{
--bg-color:#1f242d ;
--sec-bg-color:#323946;
--text-color:#fff;
--main-color:#0ef;
}
.side-bar{
    position: absolute;
    background-color: var(--sec-bg-color);
    width: 350px;
    font-family: 'fira sans', sans-serif;
    height: 100vh;
    transition:transform 0.4s ease-in ;
}
.cross{
    margin-left: 310px;
    
}
span{
    color: var(--main-color);
}
.main{
    /* background-color: aqua; */
    width: 90vw;
    
}
body{
    background-color: var(--bg-color);
}
.container{
    display: flex;
}
.side-bar nav{
   
    padding: 24px;
}
.side-bar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
   padding-left: 20px;
}
.side-bar nav li :hover{
    color: var(--main-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.info-container{
    min-height: 400px;
    height: 68vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
 margin-top: 8%;   
}
.icons{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    
}
.icons i{
    margin-top: 50px;
    margin-right: 10px;
}
.devpic img{
width:350px;
height: 75vh;
padding-left: 0%;

}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
    margin: 55px;
    font-size: 16px;
    margin-left: 100px;
   
}
.devinfo .about{
    font-size: 150%;
    animation: text2 3s  forwards infinite;
    overflow: hidden;
    border-right: .15em solid var(--text-color); 
    white-space: nowrap;
    
}
@keyframes text2{
    from{
        width: 0;
    }
    to{width:100% ;}
}
.hello{
    font-size: 3em;
}
.name{
font-size: 50px;
font-family: 'fira sans', sans-serif;
margin-top: 23px;
font-weight: bold;

}
.about{
    font-size: 40px;
    margin-top: 23px;
}
.button{
    margin-top: 20px;
}
.button button{
padding: 9px 14px;
border: 2px solid var(--sec-bg-color);
border-radius: 22px;
color: var(--main-color);
background-color:var(--text-color);
font-weight: bold;
font-size: 13px;
margin:4px 3px;
cursor: pointer;
}
.button button:hover{
    background-color:var(--sec-bg-color);
    color: var(--main-color);
}

.buttons{
    padding: 9px 14px;
    border: 2px solid black;
    border-radius: 22px;
    color:var(--text-color);
    background-color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    margin:4px 3px;
    cursor: pointer;
    }
    .buttons:hover{
        background-color:var(--text-color);
        color:var(--main-color);}
.contact{
    font-family: 'fira sans', sans-serif;
   margin-top: 80px;
   
}
.contactform{
    padding: 0 40%;
    margin: 23px 0px;
    width: 600px;
}
.contact h1{
    font-family: "Source Code Pro", monospace;   
    text-align: center;
    width: 30vw;
}
.security{
    font-size: 10px;
    color: var(--main-color);
    margin: 4px 5px;
}
form input{
    margin: 2px;
    display: flex;
    flex-direction: column;
  width: 20vw;
  border-radius: 4px;
  padding: 2px;
  
}
#formcheck{
flex-direction: row;
}
#formcheck input{
    width: 24px;
    margin: 2px 0;
}
.enquiry{
    padding:30px ;
    width: 20vw;
    border: 2px solid var(--sec-bg-color);
    display: flex;
}
.project{
    margin: 0px 20%;
    font-family: 'fira sans',sans-serif;
    margin-top: 10%;
}
h2{
    margin: 23px;
    font-family: 'fira sans',sans-serif;
}
 p{
    font-family: "Source Code Pro", monospace;
}
.about h2{
    margin: 50px;
    font-size: 34px;
    font-family: 'fira sans',sans-serif;
}
.about p{
    font-family: "Source Code Pro", monospace;   
    font-size: 23px;
    margin: 23px;
}
.aboutme p{
    line-height: 1.4;
}
.skill{
    width: 800px;
    height: 10px;
    background-color:var(--text-color);

}
 
.s1{
    height: 10px;
    width: 100%;
    background-color: var(--main-color);
}
.s2{
    height: 10px;
    width: 100%;
    background-color: var(--main-color);
}
.s3{
    height: 10px;
    width: 75%;
    background-color: var(--main-color);
}
.s4{
    height: 10px;
    width: 75%;
    background-color: var(--main-color);

}
.s5{
    height: 10px;
    width: 50%;
    background-color: var(--main-color);
}
.skills .myskills{
    padding: 12px;
}
 .skillitem{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 0px 100px;
    padding: 20px;
}
.aboutme{
    display: flex;
    flex-direction: row;
}
.aboutme img{
    height: 250px;
    width: 300px;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
    left: 10px;
    font-size: 25px;
}

.sidebargo{

        transform: translate(-443px,0px);
        position: absolute;
    }


.thirdsection {
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.services {
    margin-left: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    box-shadow: -1px 0 10px var(--text-color);
}


.projects .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    
}
.projects .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border: 0.5rem solid #fff;
    border-radius: .5rem;
    flex: 1 1 30rem;
height: 15rem;
width: 15rem;
position: relative;
justify-content: space-around;
margin: 10px ;
margin-left: 10px;
}
.projects .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projects h2{
    margin: 50px;
    font-size: 34px;
    font-family: 'fira sans',sans-serif;
}
.projects .box-container .box .content{
    position: absolute;
   top: 0%; left: 0%;
    height: 100%;
    width: 90%;
    text-align:center;
    background: rgba(0,0,0,.4);
    padding: 20px;
    padding-top: 10%;
    z-index: 1;
    
}
.projects .box-container .box .content h3{
    color: var(--main-color);
    font-size: 30px;
    animation: text 5s  forwards infinite;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    text-transform: capitalize;
}
@keyframes text{
    from{
        width: 0;
    }
    to{width:70% ;}
}

.projects .box-container .box .content p{
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem 0;
}
i:hover{
    color: var(--main-color);
}




@media (max-width:858px){
    .info-container{
        margin-top: 20%;
        min-width: 700px;
    }
    .icons i{
        margin-left: 20px;
    }
}
@media  (max-width:935px){
    .devpic img{
        min-height: 500px;
        min-width: 300px;
    }
    .info-container {
        min-height: 500px;
    }
   
    .side-bar{
       width: 280px;
    }
    .cross{
        margin-left: 248px;
    }
    .aboutme{
        min-width: 900px;
        transform: scale(1.2, 1);
        margin-left: 150px;
}
.skillitem{
    min-width: 800px;
    transform: scale(1.2, 1);
  margin-left: 150px;
}

.projects .box-container .box{
    min-width: 900px;
    transform: scale(1, 1);
    left: 10%;
    min-height: 300px;
   
}
.projects .box-container .box .content{
    width: 100%;
    padding: 30px;
    padding-top:10%;
   
}
.contactform{
    width:300px ;
    scale: 1.2;
    padding-top:30px ;
    font-size: 20px;
    }
    .contact input{
        width: 300px;
    }
    .contact textarea{
        width: 300px;   
    }
    .contact h1{
        margin-left: 30px;
        padding-bottom: 10px;
    }
    
}
@media (max-width:550px){
    .aboutme img{
       min-height: 400px;
        min-width: 200px;
    }
    .devpic img{
        min-height: 500px;
        min-width: 300px;
    }
    .contactform{
    width:300px ;
    scale: 1.2;
    padding-top:30px ;
    font-size: 20px;
    }
    .contact input{
        width: 300px;
    }
    .contact textarea{
        width: 300px;   
    }
    .security
    {
        font-size: 15px;
    }
   
        .skillitem{
            min-width: 500px;
            transform: scale(1.5, 1);
          margin-left: 150px;
        }
       
    .contact h1{
        margin-left: 30px;
        padding-bottom: 10px;
    }
    
}
@media (max-width:550px){
    .aboutme{
        min-width: 500px;
        transform: scale(1.9, 1);
        display: inline-block;
  font-size: 25px;
  height: 100px;
  margin-left: 300px;
    }
    .hamburger{
        top: 10px;
        left: 15px;
    }
}
@media (max-width:282px){
.info-container .devinfo{
   min-width: 200px;
    margin-left:30% ;
    margin-right: 5%;
   
}
}
